Django
dj-database-url==0.5.0
dj-static
gunicorn==19.9.0
Unipath
python-decouple
Pillow
Markdown==3.1.1
bleach==3.1.2
whitenoise
requests==2.22.0
psycopg2
channels
channels-redis
pyqrcode
pyzbar
pypng